@use "abstract" as *;


body {
    background-color: map-get($map: $colors, $key: "dark");
    font-family: map-get($map: $fonts, $key: "inter");
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;

    .app {
        max-width: 330px;
        max-height: 800px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: map-get($map: $colors, $key: "blue");
        border-radius: 8px;
        margin: 2em;

        .container {
            margin: 1em 0;

            @include medium {
                margin: 2em;
            }
        }

        @include medium {
            max-width: 710px;
            max-height: 285px;
            flex-direction: row-reverse;
        }


        header {
            min-width: 300px;
            min-height: 285px;
            margin-bottom: 1em;
            background-image: url("../images/image-header-mobile.jpg");
            border-radius: 8px 8px 0 0;
            background-size: cover;
            position: relative;
            display: flex;

            &::before {
                content: "";
                background-color: map-get($map: $colors, $key: "violet");
                width: 100%;
                opacity: 0.5;
                filter: brightness(0.8) saturate(2.5) hue-rotate(355deg) grayscale(0.15) contrast(1);
            }

            @include medium {
                background-image: url("../images/image-header-desktop.jpg");
                width: 100%;
                border-radius: 0 8px 8px 0;
            }

        }

        main {
            margin: 1em;

            h1 {
                color: map-get($map: $colors, $key: "white");
                font-size: 1.5rem;
                text-align: center;
                padding: 0em 0.8em;

                @include medium {
                    font-size: 1.3rem;
                    text-align: left;
                    padding: 0;
                }

                span {
                    color: map-get($map: $colors, $key: "violet");
                }
            }

            p {
                color: map-get($map: $colors, $key: "gray");
                text-align: center;
                font-size: 0.9rem;
                line-height: 24px;
                padding: 0.2em 1.5em;

                @include medium {
                    font-size: 0.7rem;
                    line-height: 20px;
                    text-align: left;
                    padding: 0;
                }
            }
        }

        section {
            margin: 1em;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            text-align: center;
            font-family: map-get($map: $fonts, $key: "lexend");

            @include medium {
                flex-direction: row;
                justify-content: flex-start;
                gap: 1.5em;
                margin-top: 2em;
            }

            span {
                margin: 1em 0;

                @include medium {
                    text-align: left;

                }

                h2 {
                    margin: 0;
                    color: map-get($map: $colors, $key: "white");

                    @include medium {
                        font-size: 1rem;
                    }
                }

                p {
                    font-size: 0.8rem;
                    margin: 0.5em 0 0 0;
                    color: map-get($map: $colors, $key: "gray");
                    text-transform: uppercase;

                    @include medium {
                        font-size: 0.6rem;
                    }
                }
            }
        }

    }


}